
.icon-droplet:before { content: '\e800'; } /* '' */
.icon-appstore:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-trophy:before { content: '\f074'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */