body{
    font-family: 'Playfair Display', serif;
    text-align: center;
}

h3{
    color:rgb(240, 198, 224);
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding:10%;
    
}

h2{
    padding: 5%;
    background-color:rgb(240, 198, 224, 0.5);
    display:block;
}

h4{
    background-color:white;
    margin:0px;
    padding:2%;
}
.mainPage {
    background-image: url("img/1.png");
    
}

.biggerFontPlease{
    font-size: 40px;
    padding:20px;
}

.photoClass {
    width: 50px;
    height: 40px;
    
    
}

.DreamCard{
    float: left;
}

.todo-item {
    display:block;
    margin-right: auto;
    margin-left: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px ;
    
}

.todo-list{
    display: block;
    background-color: rgba(0, 0, 0, .7);
    color:rgb(240, 198, 224);
    font-size: larger;
    padding:5%;
    margin:5%;
    border-radius: 20px;
}

.intern-days, .rules-window, h3{
    color:rgb(240, 198, 224);
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    padding: 5%;
}


.time-message {
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    border-radius:20px;
    padding: 5%;
    margin-bottom:30px;
    margin-top:30px;
    background-color: rgb(240, 198, 224, .9);
    color:rgb(73, 72, 72);
}

.rule-photo img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.rule-paragraph {
    display: block;
    padding: 5%;
}

.display-block{
    display:block;
}
